<p id="notice"><%= notice %></p>
  <nav>
    <div>
      <% if user_signed_in? %>
        <p><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
      <% else %>
        <p><%= link_to 'Login', new_user_session_path %></p>
        <p><%= link_to 'Sign up', new_user_registration_path %></p>
      <% end %>
    </div>
  </nav>
<h1>Posts</h1>
  <% @posts.each do |post| %>
    <div>
      <%= post.story %>
      <br />
      <% if user_signed_in? %>
        <%= post.user.email%>
      <% end %>
    </div>
    <div>
      <ul>
        <li><%= link_to 'Show', post %></li>
        <li><%= link_to 'Edit', edit_post_path(post) %></li>
        <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  <% end %>
<br>

<%= link_to 'New Post', new_post_path %>
